/* To do
less display: flex;
Companion -0.02px media queries offset

mobile
populaires title padding
hebergements backgrd color to white
cards spacing left
hebergements - activités spacing
*/
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --dark-bg-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

h2,
h3 {
  font-weight: 700;
  line-height: 1.614rem;
  margin: 0 0 8px 0;
  letter-spacing: 0rem;
  text-align: left;
}

h4,
h5 {
  font-size: 1rem;
  line-height: 1.174rem;
  margin: 0 0 20px 0;
}

p {
    font-size: 0.875rem;
    line-height: 1.0275em;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1439.98px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}
/****** Header ******/
.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-hug {
    width: 161.09px;
    height: 79px;
}

.logo {
    padding-top: 30px;
    width: 61.09px;
    height: 19px;
}

.menu-hug {
    display: flex;
    justify-content: space-around;
    width: 344px;
    height: 35px;
    padding: 0 0 0 50px;
}

.menu-item {
    padding-top: 16px;
    font-family: "Raleway";
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
}

.menu>a:last-child {
    margin-left: 68px;
    margin-right: 50px;
}

.menu-item:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** Main ******/
/****** Search ******/
.search {
    margin-top: 35px;
    width: 50%;
}

.search-and-filters>h5 {
    font-weight: 400;
    margin-top: 8px;
}

.search>form {
    height: 49px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

.search-content {
    width: 50%;
    background: white;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
  
.search-content span {
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}
  
.search-content input[type="search"] {
    border: 1px solid #f2f2f2;
    height: 49px;
    width: 100%;
    padding: 0 0 0 17px;
}

.search-content input::placeholder {
    color: black;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    text-align: left;
}

.search-content i {
    color: black;
}

.button-search {
    display: flex;
    flex-direction: row;
    padding: 14px 18px 14px 0;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    text-align: center;
    color: #ffffff;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
}
/****** infobar ******/
/****** circle the information icon ******/
.info-bar {
    display: flex;
    align-items: center;
}

.info-bar>span>i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    margin-right: 10px;
}

.info-icon-circle {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 5px;
}

/****** Filtres ******/
.filters {
    display: flex;
    margin-top: 30px;
}

.filters>h4 {
    font-size: 1.125rem;
    padding: 30px 10px 30px 0;
}

.filter-buttons {
    display: flex;
}

.button-filter {
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--dark-bg-color);
    padding: 4px 19px 4px 19px;
    margin: 15px 15px 0 0;
    background-color: white;
    display: flex;
    align-items: center;
}

.button-filter>span {
    font-size: 1.0625rem;
    font-weight: 700;
    margin-left: 10px;
}

.button-filter:hover {
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 20px 0;
    gap: 40px;
}

.hebergements-and-populaires section {
    padding: 30px;
}

.hebergements, .populaires {
        border-radius: 10px;;
    }

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cards>a {
    width: 28%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    height: 196px;
    width: 100%;
}

.hebergements-cards img {
    height: 55%;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    height: 45%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 0.0625rem;
    padding: 0 0 0 15px;
}

.hebergements-cards .card-title {
    margin: 10px 0 4px 0;
    line-height: 0.9375rem;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    letter-spacing: -0.05rem;
}

.hebergements>h4 {
    font-size: 1.125rem;
    margin: 35px 30px 0 30px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ******/
.activites {
    width: 100%;
    margin: 20px 0 20px 0;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 22%;
    height: 440px;
}

.activites-cards img {
    height: 90%;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    height: 10%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px 0 0 19px;
}

.activites-cards .card-title {
    margin: 10px 0 4px 0;
}
/****** Footer ******/
.footer {
    height: 163px;
    display: flex;
    background-color: var(--main-bg-color);
    align-items: flex-start;
    margin-right: 50px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    padding: 35px 0 0 20px;
    width: 33%;
}

.footer-section>h4 {
    font-size: 1.125rem;
    line-height: 0.0625rem;
}

.footer-section>a>p {
    font-size: 1rem;
    line-height: 0.04375rem;
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023.98px) {
    /****** Search ******/
    .search {
        width: 60%;
    }
    /****** Filtres ******/
    .filters {
        display: flex;
        flex-direction: column;
    }

    .filters>h4 {
        padding: 0;
    }

    .button-filter {
        margin: 0 15px 20px 0;
    }

    /****** Hebergements and Populaires ******/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ******/
    .hebergements {
        width: 100%;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 10px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    /****** Activités ******/
    .activites {
        margin-top: 50px;
    }

    .activites-cards {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .activites-cards .card {
        width: 22%;
        height: 250px;
    }

    .activites-cards img {
        height: 70%;
    }

    .activites-cards .card-content {
        height: 30%;
        padding: 0 0 0 15px;
        justify-content: center;
    }

    /****** Footer ******/
    .footer {
        margin-top: 50px;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body{
        margin: 0;
    }

    .main-container {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    /****** Header ******/
    .header-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-hug {
        width: 100%;
        align-content: center;
    }

    .logo {
        padding-top: 0;
        display: block;
        margin: auto;
    }

    .menu-hug {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 35px;
        padding: 0 50px 0 50px;
    }

    .menu-item {
        width: 50%;	
        padding-bottom: 25px;
        padding-top: 0;
    }

    .menu-item:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: 0;
    }
    /****** Search ******/
    .search-and-filters {
        margin: 20px;
    }

    .search {
        width: 100%;
        margin-right: 20px;
    }

    .search-content {
        width: 100%;
        display: flex;
        justify-content: stretch;
    }

    .button-search {
        border-radius: 15px 15px 15px 15px;
    }

    .button-search .search-txt {
        display: none;
    }

    .button-search i {
        color: white;
        padding-left: 15px;
    }

    /****** Filtres ******/
    .filters {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 35px;
    }

    .filters .filter-buttons {
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
    }

    .button-filter {
        display: flex;
        width: 43%;
    }

    .info-bar {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    /****** Hebergements, Populaires ******/
    .hebergements-and-populaires {
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
        /*padding-right: 5%;*/
    }

    .hebergements, .populaires {
        border-radius: 0;
        /*padding-right: 0%;*/
    }

    .populaires-cards, .hebergements-cards {
        flex-direction: column;
        /*margin-left: 5%;
        margin-right: 5%;*/
        /*padding: 10%;*/
    }
    /****** Populaires ******/
    .populaires {
        /*margin-top: 0;*/
    }

    .populaires-cards {
    /*margin-left: 5%;
    margin-right: 5%;*/
    }

    .populaires-cards a {
        width: 100%;
    }

    /****** Hebergements ******/
    .hebergements {
        /*padding: 10%;*/
    }

    .hebergements-cards {
        /*margin-left: 5%;
        margin-right: 5%;*/
    }

    .hebergements-cards>a {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    /****** Activités ******/
    .activites {
        /*margin-top: 18%;
        padding: 10%;*/
    }
    .activites-cards {
        flex-direction: column;
        /*margin-left: 7.5%;
        margin-right: 7.5%;*/
    }

    .activites-cards .card {
        width: 100%;
    }

    /****** Footer ******/
    .footer {
        height: 120%;
        flex-direction: column;
        width: 100%;
    }

    .footer-section {
        width: 100%;
    }

    .footer-section>p {
        font-size: 1rem;
    }
}